*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: black;
}

main{
    border-radius: 10px;
    background-color: #dedede;
    padding: 1rem;
}

main > h1{
    
    margin-bottom: 2rem;
}

main > #search-cep form{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

main > #search-cep input{
    flex: 1;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}

main > #search-cep button{
    background-color: green;
    color: white;
    padding: 0 0.4rem ;
    height: 30px;
    border-radius: 5px;
    border: none;
}

#result{
    max-width: 500px;
}

#result > .card-pesquisa{
    display: flex;
    flex-direction: column;
}

#result > .card-pesquisa input{
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    background-color: white ;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.4rem ;
}

